a{
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}
 a:hover, a:focus{
    transition: 0.5s;
    color: #6e6e6e;
    text-decoration: underline;
    text-decoration-thickness: 0.75px;
 }

 /* Masque l'élément radio par défaut */
.round-check input[type="radio"] {
    display: none;
}

/* Style de l'élément personnalisé */
.round-check span {
    width: 30px; /* Vous pouvez ajuster la taille selon vos besoins */
    height: 30px;
    border-radius: 50%; /* Cela rend l'élément rond */
    display: inline-block;
    border: 1.5px solid #6e6e6e; /* Bordure de la case à cocher */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Ajoute le style quand la case est cochée */
.round-check input[type="radio"]:checked + span {
    background-color: #79B09D; /* Couleur de fond quand la case est cochée */
    border-color: #79B09D; /* Change aussi la couleur de la bordure */
}

/* Style de l'indicateur de coche */
.round-check input[type="radio"]:checked + span::after {
    content: '';
    width: 6px; /* Ajustez la taille de l'indicateur de coche */
    height: 12px;
    border: solid #000; /* Bordure noire pour le check */
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg); /* Positionne et tourne pour faire un check */
    transition: transform 0.3s;
}
