@font-face {
    font-family: century-gothic;
    src: url("../fonts/century-gothic.ttf");
}

@font-face {
    font-family: notted;
    src: url("../fonts/Notted.ttf");
}

* {
    box-sizing: border-box;
}

hr,br{
    width: 100%;
}

/* body{
    background-color: #f0f0f0;
} */