
.product-desc{
    width: 200px;
}
.product-img{
    background-color: #f0f0f0;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 200px;
    height: 200px;
}

@media (max-width:992px) {
    .product-desc{
        width: 140px;
    }
    .product-img{
        width: 140px;
        height: 140px;
    }
}
#see-all-link{
    padding-top: 100px;
}

a{
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}
 a:hover, a:focus{
    transition: 0.5s;
    color: #6e6e6e;
    text-decoration: underline;
    text-decoration-thickness: 0.75px;
 }

 .product-img a img{
    width: 20px;
 }

 .product-img a{
    width: 30px;
    height: 40px;
    padding: 5px;
 }

.products-defiler .btn-conrtrol, .products-defiler .btn-conrtrol:hover, .products-defiler .btn-conrtrol:focus{
    padding: 0%;
    height: 40px;
    width: 40px;
    background-color: #79B09D;
    border-radius: 20px;
    font-weight: bold;
}

.breadcrumb > li + li:before {
            content: ">";
            color: black;
    }
    .breadcrumb a{
        text-decoration: none;
        color: black;
    }
    .breadcrumb{
        background-color: #fff;
    }
    .product-img-placeholder {
        background-color: #f0f0f0;
        width: 100%;
        padding-bottom: 100%; /* Maintains aspect ratio */
        border-radius: 10px;
    }
    .product-details {
        padding-top: 20px;
    }
    .product-title {
        font-weight: bold;
        font-size: 24px;
    }
    .product-price {
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
    }
    .product-description {
        color: #888;
    }
    .btn-custom {
        width: 200px;
    }
    
    .btn-favorite {
        padding: 10px 20px;
        padding-right: 40px;
        border: 1px solid #6e6e6e;
        background: transparent;
    }
    .btn-favorite:hover {
        transition: 0.5s;
        border-color: #282828;
        background: transparent;
    }
    .active-link{
        color: #D2475C;
    }

    .btn-favorite img{
        width: 20px;
    }

    .btn-add{
        padding-bottom: 30px;
    }

    .details{
        font-family: century-gothic;
        padding: 20px;
        height: 500px;
        background-color: #AAD7C3;
    }

    .details h2{
        font-weight: bold;
    }
    .details hr{
        border: 1px solid;
        border-color: #D2475C;
    } 

.star-rating {
    font-size: 0;
    direction: rtl;
    display: inline-block;
}
.star-rating input {
    display: none;
}
.star-rating label {
    font-size: 1em; /* Agrandir les étoiles */
    color: #ddd;
    display: inline-block;
    cursor: pointer;
}
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #D2475C;
}
.progress-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.rating-label {
    width: 60px;
}
.progress {
    flex: 1;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    margin-right: 10px;
    position: relative;
}
.progress-bar {
    height: 100%;
    text-align: center;
    color: white;
}
.progress-bar-success {
    background-color: #D2475C;
}
.rating-percentage {
    width: 40px;
    text-align: right;
}
.rating-summary .d-flex {
    display: flex;
    align-items: center;
}
.rating-summary .stars i {
    color: #D2475C;
    font-size: 2em; /* Agrandir les étoiles dans le résumé de la notation */
}
.review {
    margin-bottom: 1.5rem;
}
.review .stars {
    color: #D2475C; /* Couleur des étoiles */
}
.review-date {
    font-size: 0.9em;
    color: #777;
}
.review h5{
    font-weight: bold;
}
.see-all-reviews {
    text-decoration: underline;
    color: #007bff; /* Bootstrap primary color */
}

.rating-div{
    font-family: century-gothic;
    padding: 40px;
}
.rating-div img{
    width: 30px;
}
.stars-img img{
    width: 150px;
}
.stars-final{
    width: 250px;
}
.stars-final img{
    width: 220px;
}
.review-div {
    height: 500px;
    overflow-x: auto;
}

.stars-div input[type="radio"],.star-enabled {
    display: none;
}
.star-disabled{
    display: block;
}

.star-enabled {
    display: none;
}
label.selected .star-enabled {
    display: block;
}

label.selected .star-disabled {
    display: none;
}

.rating-textarea{
    height: 300px;
}

.reduce{
    background-color: #79B09D;
}

.rating{
    height: 400px;
    overflow-y: auto;
}
.reduce .item{
    background: none;
    border: none;
    padding: 50px;
}

#reduction{
    color: #D2475C;
    font-size: 50px;
}

#reduce-name{
    color: #FCDFE1;
}

.reduce-img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #AAD7C3;
    background-size: cover;
    background-position: center;
}
#see-all{
    height: 50vh;
}