html{
    background-color: #6e6e6e;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    justify-content: center;
}
body{
    width: 100vw;
    background-color: #f0f0f0;
}

.header{
    width: 100vw;
    font-family: century-gothic;
    background-color: #ffffff;
    padding:0.1% 2%;
    width: 100%;
    border-bottom: 0.1px solid #f0f0f0;
}
.header img{
    transition: width 0.5s ease, height 0.5s ease;
}

#title a {
    font-size: 27px;
}

#title a:hover img, #title a:focus img{
    transition: 0.5s;
    height: 40px;
}
.last{
    display: flex;
    justify-content: flex-end;
}
.last .btn {
    border: none;
    font-size: 20px;
    background: none ;
}

.last .btn p{
    color: #f0f0f0;
    background-color: #000000db;
    font-size: 11px;
    padding: 7px;
    border-radius: 3.5px;
    position: absolute;
    margin-top: 15px;
    text-align: center;
    opacity: 0;
    z-index: 1000;
}

.last .btn:hover .disable, .last .btn:focus .disable  {
    width: 22px;
}

.last .disable{
    width: 18px;
}

.last .enable{
    width: 24px;
}

.last .btn:hover .enable, .last .btn:focus .enable  {
    width: 30px;
}

.last .btn img:hover ~ p, .last .btn img:focus ~ p  {
    transition: 0.5s;
    opacity: 1;
}

#form-control:focus{
    border: 1px solid #aad7c3;
}

#ExceptionModal{
    font-family: century-gothic;
}

#ExceptionModal h3{
    font-weight: bold;
}

#ExceptionModal .btn, #ExceptionModal .btn:hover{
    background-color: #D2475C;
}

.container, .container-fluid{
    padding: 0%;
    margin: 0%;
}

.row{
    padding: 0%;
    margin: 0%;
}

@media (max-width : 768px) {
    #title img{
        height: 25px;
    }

    .last .disable{
        width: 15px;
    }
    
    .last .enable{
        width: 20px;
    }

    .last p{
        display: none;
    }
}